
<!-- <h2>ya {{userName}} ya gamed</h2>
<h2>{{userName}} is {{age}} old</h2>


Two way binding
<input class="form-control" [(ngModel)] ='x' type="text" name="" id="">
<h2>Name: {{x}}</h2>

<table class="table w-75 m-auto text-center">
    <thead>
        <th>Index</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Welcome Function</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users, let i = index">
            <td>{{i}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td (click) = 'welcome(i)'><button>Welcome</button></td>
        </tr>
    </tbody>
</table>  -->
<app-to-dos></app-to-dos>